blockquote {
    background-color: #D9E5E3;
    padding: 1em;
    border: 0.5em solid #C2CCCA;
    width: 30ch;
    box-sizing: border-box;
    margin: 1em 2em;
}
.fiat {
    float: right;
}
.petrobras {
    float: left;
}
cite blockquote {
    font-style: italic;
    float: right;
}