.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
}
.subtitulo-principal {
    text-align: center;
    font-size: .4em;
    text-transform: capitalize;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}
.secao-inicio{
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
}
.blog small {
    position: relative;
    top: -2em;
}
.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home {
    font-family: "Shadows Into Light";
    text-transform: capitalize;
    color: #D5447E;
    font-size: .4em;
    font-weight: bold;
    position: absolute;
}
.eficiencia {
    top: 35%;
    left: 75%;
}
.boas-praticas {
    top: 35%;
    left: 15%;
}
.codigo-limpo {
    top: 10%;
    left: 85%;
}
.css3 {
    top: 60%;
    left: 70%;
}
.html5 {
    top: 60%;
    left: 90%;
}
.javascript {
    top: 10%;
    left: 8%;
}
.acessibilidade {
    top: 10%;
    left: 65%;
}
.responsivo {
    top: 10%;
    left: 30%;
}
.otimizacoes {
    top: 80%;
    left: 8%;
}
.agilidade {
    top: 60%;
    left: 25%;
}
.design {
    top: 80%;
    left: 78%;
}
header {
    position: relative;
}
.blog .inicio-post {
    position: absolute;
    top: 4em;
    height: 8em;
    left: 30%;
    right: 4em;
    background-color: #F2FFFC;
    color: #000;
    padding: 1.5em;
}
.blog {
    position: relative;
}
.blog .mais-recente {
    background-color: #F2FFFC;
}
.blog .mais-recente a {
    color: #F26;
}
.blog li {
    width: 30%;
}
html{
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
.banner-twitter {
    width: 10em;
    line-height: 1em;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1em;
    font-family: "Open Sans Condensed", sans-serif;
    
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
}